// main title, text, social icon

$primary_dark: #393939;


$primary_white: rgb(200, 230, 230);

// lite links
$primary_light: #4e4e4e;

// labels
$label_blue: #2575fc;

// backgrounds
$dark_bg: #355664;



